extends layout.pug
block content
    h1 Bienvenido a Express Template + pug 
    p En este modelo (template) puedes empezar a crear tus propios proyectos, se incorporo dependecias clasicas y necesarias para poder trabajar en aplicaciones REST