extends layout.pug
block content
    .row
        .col.s12
            h1 Bienvenido a Express Template + pug 
            p En este modelo (template) puedes empezar a crear tus propios proyectos, se incorporo dependecias clasicas y necesarias para poder trabajar en aplicaciones REST
        .col.s12.m6
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit qui magni in tenetur placeat quas cupiditate nobis eum harum repudiandae natus doloremque, sint quis. Consectetur facere quia voluptatem earum optio.Reiciendis, sint facilis dolorum eum a quasi cupiditate laboriosam nesciunt ad ab! Provident similique inventore ullam et rerum commodi ea qui expedita ratione magnam! Vel, architecto? Soluta eius ullam porro?
        .col.s12.m6
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit qui magni in tenetur placeat quas cupiditate nobis eum harum repudiandae natus doloremque, sint quis. Consectetur facere quia voluptatem earum optio.Reiciendis, sint facilis dolorum eum a quasi cupiditate laboriosam nesciunt ad ab! Provident similique inventore ullam et rerum commodi ea qui expedita ratione magnam! Vel, architecto? Soluta eius ullam porro?
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br