extends ../layout.pug
block content
    form(action=`/items/actualizar/${id}?_method=PUT` method="POST")
        label Nombre:
            input(type="text" name="nombre" value=`${nombre}`)
        label Descripcion:
            input(type="text" name="descripcion" value=`${descripcion}`)
        input(type="submit").btn