extends ../layout.pug
block content
	h1 Aqui estan los items:
	ul
		each item in items
			li 
				b Id: #{item._id}
			li Nombre: #{item.nombre}
			li Descripcion: #{item.descripcion}
			br
		else
			h1 No hay items